---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: halo
spec:
  selector:
    app: homeassistant
  ports:
  - protocol: TCP
    port: 8123
    targetPort: 8123

---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant-ext-ip
  namespace: halo
spec:
  allocateLoadBalancerNodePorts: false
  loadBalancerIP: 192.168.8.36
  selector:
    app: homeassistant
  ports:
  - protocol: TCP
    port: 8123
    targetPort: 8123
  type: LoadBalancer

