apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: speedtest-pvc
  namespace: halo
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi  
