---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kite-data-pvc
  namespace: kube-system
  labels:
    app: kite
    app.kubernetes.io/instance: kite
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi 
  storageClassName: longhorn
