apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: halo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
        - name: n8n
          image: n8nio/n8n:2.9.1-arm64
          ports:
            - containerPort: 5678
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          env:
            - name: NODES_EXCLUDE
              value: "[]"
            - name : DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: postgres-n8n
            - name: DB_POSTGRESDB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secret
                  key: POSTGRES_DB
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secret
                  key: POSTGRES_USER
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-db-secret
                  key: POSTGRES_PASSWORD
            - name: GENERIC_TIMEZONE
              value: "Europe/Berlin"
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5678
            initialDelaySeconds: 20
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5678
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-pvc

