---
apiVersion: v1
kind: Service
metadata:
  name: n8n
  namespace: halo
spec:
  selector:
    app: n8n
  ports:
    - protocol: TCP
      port: 5678
      targetPort: 5678
---
apiVersion: v1
kind: Service
metadata:
  name: n8n-webhook-ip
  namespace: halo
spec:
  allocateLoadBalancerNodePorts: false
  loadBalancerIP: 192.168.8.37
  selector:
    app: n8n
  ports:
  - protocol: TCP
    port: 5678
    targetPort: 5678
  type: LoadBalancer
