apiVersion: v1
kind: ServiceAccount
metadata:
  name: tailscale
  namespace: halo
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tailscale
  namespace: halo
rules:
- apiGroups: [""]
  resources: ["secrets"]
  resourceNames: ["tailscale-auth"]  
  verbs: ["get", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tailscale
  namespace: halo
subjects:
- kind: ServiceAccount
  name: tailscale
  namespace: halo
roleRef:
  kind: Role
  name: tailscale
  apiGroup: rbac.authorization.k8s.io
