apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: headscale-data
  namespace: halo
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
