apiVersion: v1
kind: Service
metadata:
  name: headscale
  namespace: halo
  labels:
    app: headscale
spec:
  allocateLoadBalancerNodePorts: false
  loadBalancerIP: 192.168.8.35
  selector:
    app: headscale
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  - name: https
    port: 443
    protocol: TCP
    targetPort: 8080
  - name: grpc
    port: 50443
    protocol: TCP
    targetPort: 50443
  - name: metrics
    port: 9090
    protocol: TCP
    targetPort: 9090
  type: LoadBalancer
