apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: manifests-applicationset
  namespace: argocd
spec:
  ignoreApplicationDifferences:
    - jsonPointers:
      - /spec/syncPolicy
  generators:
    - list:
        elements:
          - name: speedtest
            path: ./apps/speedtest/
            namespace: halo
          - name: paperless
            path: ./apps/paperless/
            namespace: halo
          - name: pihole-app
            path: ./apps/pihole/manifests
            namespace: halo
          - name: ddclient-app
            path: ./apps/ddclient/manifests
            namespace: halo
          - name: heimdall-app
            path: ./apps/heimdall/manifests
            namespace: halo
          - name: uptime-kuma-app
            path: ./apps/uptime-kuma/manifests
            namespace: halo
          - name: bitwarden-app
            path: ./apps/bitwarden/manifests
            namespace: halo
          - name: samba-app
            path: ./apps/samba-share/manifests
            namespace: halo
          - name: wireguard-app
            path: ./apps/wireguard/manifests
            namespace: halo
          - name: homeassistant-app
            path: ./apps/homeassistant/manifests
            namespace: halo
          - name: headscale
            path: ./apps/headscale
            namespace: halo
          - name: n8n-app
            path: ./apps/n8n
            namespace: halo
          - name: immich-app          
            path: ./apps/immich
            namespace: halo
          - name: metallb
            path: ./infrastructure/metallb/manifests
            namespace: metallb-system
          - name: secrets-backup
            path: ./infrastructure/secrets-backup/manifests
            namespace: secrets-backup
          - name: reloader
            path: ./infrastructure/reloader/manifests
            namespace: reloader
          - name: kite
            path: ./infrastructure/kite/manifests
            namespace: kube-system

  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/orazefabian/homecluster-helm
        targetRevision: HEAD
        path: '{{path}}'
        directory:
          recurse: true
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          selfHeal: true
          prune: false
