apiVersion: v1
kind: Service
metadata:
  labels:
    app: samba
  name: samba
  namespace: halo
spec:
  allocateLoadBalancerNodePorts: false
  loadBalancerIP: 192.168.8.50
  ports:
    - targetPort: 445
      port: 445
      protocol: TCP
      name: smb
    - targetPort: 139
      port: 139
      protocol: TCP
      name: netbios
  selector:
    app: samba
  type: LoadBalancer
