apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden
  namespace: halo
  labels:
    app: bitwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bitwarden
  template:
    metadata:
      labels:
        app: bitwarden
    spec:
      containers:
        - name: bitwarden
          image: vaultwarden/server:1.33.1
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "200Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "200m"
          volumeMounts:
            - mountPath: /data
              name: data-volume
        - name: nginx-tls
          image: nginx:1.25-alpine
          ports:
            - containerPort: 443
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-config
              subPath: nginx.conf
              readOnly: true
            - mountPath: /etc/nginx/ssl
              name: tls-certs
              readOnly: true
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: bitwarden-pvc
        - name: tls-certs
          secret:
            secretName: local-fabseit-net-prod-tls
            defaultMode: 0400
        - name: nginx-config
          configMap:
            name: bitwarden-nginx-config

