apiVersion: apps/v1
kind: Deployment
metadata:
  name: bitwarden
  namespace: halo
  labels:
    app: bitwarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bitwarden
  template:
    metadata:
      labels:
        app: bitwarden
    spec:
      containers:
        - name: bitwarden
          image: vaultwarden/server:1.33.1
          ports:
            - containerPort: 80
            - containerPort: 443
          env:
            - name: ROCKET_TLS
              value: "{certs=\"/ssl/tls.crt\",key=\"/ssl/tls.key\"}"
          resources:
            requests:
              memory: "200Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "200m"
          volumeMounts:
            - mountPath: /data
              name: data-volume
            - mountPath: /ssl
              name: tls-secret
              readOnly: true
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: bitwarden-pvc
        - name: tls-secret
          secret:
            secretName: local-fabseit-net-prod-tls

