apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pg-n8n-data
  namespace: halo
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi

